* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  height: 100vh;
}

.box1 {
  height: 100vh;
  width: 80px;
  position: sticky;
  top: 0;
}

.box2 {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
}
